.logo a {
    display: block;
    width: 152px;
    height: 60px;
    font-size: 0;
    background: url(https://www.poscomtech.com/resources/images/common/site-logo-w.svg) center no-repeat;
}



.navbar-toggler {
    padding: 0.75rem; 
}

#navbarNav .d2{
    opacity: 0;
    visibility: hidden;
    display: none;
}

    
#navbarNav .nav-item > a{color: #fff;}

